{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Garbage Route Planner</title>

    <!-- Leaflet CSS -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>

    {% block content %}
    {% endblock %}

    <!-- Leaflet JS -->
    <script
        src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js">
    </script>

    <!-- Custom JS -->
    <script src="{% static 'js/map.js' %}"></script>

</body>
</html>